{% extends 'base.html.twig' %}

{% block body %}

	{% for message in app.flashes('nachricht') %}
		<div class="alert alert-success">
			<h3>
				{{ message }}
			</h3>
		</div>
	{% endfor %}

	<section class="contact-section">
		<div class="container-fluid">
			<div class="row">
				<div
					class="col-lg-6 p-0">
					<!-- Map -->
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51103.995827434395!2d10.147060012564536!3d36.81852616566695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd331d8c68595b%3A0xde4fc5fa206533e7!2z2YXZg9iq2KjYqSDYp9mE2LTYqNmD2Kkg2KfZhNi52LHYqNmK2Kkg2YTZhNij2KjYrdin2Ksg2Ygg2KfZhNmG2LTYsSDYqNiq2YjZhtiz!5e0!3m2!1sfr!2stn!4v1634430639817!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="contact-warp">
						<div class="section-title mb-0">
							<h2>Contact </h2>
						</div>
						<p>Souhaitez-vous faire part au serveur de toute autre demande que vous pourriez avoir concernant vos commandes ? Sur cette page, vous pouvez utiliser notre formulaire de contact pour entrer en contact avec notre personnel de service qualifié. Qu'il manque quelque chose ou qu'il y ait des demandes supplémentaires pour nos plats. Les éloges, suggestions et critiques sont également les bienvenues. N'hésitez pas à nous contacter. </p>
						{{form(emailForm)}}
						</div>
					</div>
				</div>
			</div>
		</section>


	{% endblock %}
